.time {
    top: 48% !important;
}

.date {
    top: 48% !important;
}

.location {
    position: relative;
    font-size: 28px;
    top: 100px;
}

.temperature {
    position: relative;
    top: 100px;
    left: 0px;
    font-size: 38px;
}

.AerialViewDriverDoor {
    position: absolute;
    top: 147px;
    left: 44px;
    font-size: 168px;
}

.AerialViewPassengerDoor {
    position: absolute;
    top: 147px;
    left: 231px;
    font-size: 168px;
}

.AerialView {
    margin-top: 8%;
    height: 120%;
    width: 100%;
}

.TabBarIcon {
    font-size: 45px !important;
}

.modal-wrapper {
    min-height: 78% !important;
}

.segment-button-indicator-background {background: transparent !important;background-color: transparent !important;}