.ClimateToolBar {
    background: #d99648;
    color: #ffffff;
    border-radius: 15px;
}

.DirectionCard {
    transform: translateX(-50%) translateY(-180%);
    top: 50%;
    left: 50%;
    position: absolute;
    width: 60% !important;
    height: 15%;
    border-radius: 15px;

    /*padding-top: 0.75%;*/
}

.IntensityCard {
    transform: translateX(-50%) translateY(25%);
    top: 50%;
    left: 50%;
    position: absolute;
    width: 80% !important;
    height: 15%;
    border-radius: 15px;
}

.SegmentButton {
    font-size: 200%;
    color: medium;
    --color-checked: #d99648;
    --indicator-color: transparent !important;
}

.TempCard {
    display: flex;
    transform: translateX(225%) translateY(540%);
    width: 35% !important;
    height: 15%;
    border-radius: 40px;

    padding-top: 1.5%;
    padding-left: 25px;
    font-size: 200%;
}

.ClimateUpperButton {
    width: 35px;
}

.DirectionButton {
    /* font-size: 5px; */
    width: 43px;
}

.Fan {
    /* font-size: 5px; */
    width: 35px;
    height: 35px;
}
