@import '../theme/variables.scss';

.Thermometer-Icon {
    font-size: 50px;
    transform: translateY(12%);
    color: $medium-text;
}

.High {
    width: 49px;
    height: 25.2px;
    // font-family: Poppins;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 19.2px;
    text-align: center;
}

.OFF {
    width: 49px;
    height: 25.2px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 19.2px;
    text-align: center;
}

.Fan-Intensity-Row {
    transform: rotate(-90deg);
}

.Fan-Intensity-Range {
    -webkit-appearance: none;
    border-radius: 15px;
    height: 17px;
    width: 300px;
    margin-top: 170px;
    margin-bottom: 170px;
    // background-color: blue;
    // background-image: url('../assets/climate_slider_background.jpg');
}

.Fan-Intensity-Range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 30px;
    height: 200px;
    background: white;
    border-radius: 14px;
}

.Card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    border-radius: 27.8px;
    margin: 0px;
    --background: #1c1d23;
}

.Fan-Button {
    height: 114px;
    width: 100%;
    --border-radius: 25px;
    --background: #1c1d23;
    --color-activated: #1c1d23;
}

.Fan-Button-Selected {
    --color-activated: #1c1d23;
    height: 114px;
    width: 100%;
    --border-radius: 25px;
    --background: #c1c1c1;
    .Fan-Direction-Icon {
        color: #1c1d23;
        font-size: 70px;
    }
}

.Temperature-Button {
    font-size: 64px;
    width: 100%;
    height: 100%;
}

.Temperature-Button-Icon {
    color: $medium-light-text;
}

.Fan-Direction-Icon {
    color: $medium-text;
    font-size: 70px;
}

.Temperature {
    font-size: 50px;
    color: var(--re-lc-white);
    align-self: center;
}
