@import '../theme/variables.scss';

.DirectionCard {
}

.DirectionSegment {
}

.TempRange {
    
}

.SegmentButton {
   
}

.TempCard {
    
}

.ClimateUpperButton {

}

.DirectionButton {
   
}

.Thermometer {
    
}

.High {
    width: 49px;
    height: 25.2px;
    flex-grow: 0;
    // font-family: Poppins;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 19.2px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: var(--re-lc-white);
}

.OFF {
    width: 49px;
    height: 25.2px;
    flex-grow: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 19.2px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: var(--re-lc-white);
}

.FanIntensityRange {
    transform: rotate(-90deg);
}

.Temperature {
    width: 275px;   // i shrunk to make fit
    height: 426px;
    flex-grow: 0;
    padding: 0 0 54.1px;
    border-radius: 27.8px;
    background-color: #1c1d23;
}

.Intensity {
    width: 275px;   // i shrunk to make fit
    height: 426px;
    flex-grow: 0;
    padding: 23px 53px 22.7px;
    border-radius: 26.5px;
    background-color: #1c1d23;
}

.Fan-Buttons {
    width: 275px;   // i shrunk to make fit
    height: 426px;
    flex-grow: 0;
    padding: 31.6px 16px 30.6px 14px;
    border-radius: 26.5px;
    background-color: #1c1d23;
}

