@import '../theme/variables.scss';

.ComponentModal {
    top: 62px;
    bottom: 90px;

    // background-color: aqua;

    // NOTE For locating it in the background
    .modal-wrapper {
        background-color: transparent !important;
        width: 98vw;
        height: 96%;
        border-radius: 27px;
        position: absolute;

        @media only screen and (max-height: 800px) {
            height: 96%;
        }

        @media only screen and (max-height: 600px) {
            height: 92%;
        }

        box-shadow: none;
    }
}