@import '../theme/variables.scss';

.ComponentModal {
    .modal-wrapper {
        min-width: 90%;
        min-height: 80%;
        max-height: 100%;
        border-radius: 15px;
        position: absolute;
        @media only screen and (max-height: 800px) {
            top: 5%;
        }
        @media only screen and (max-height: 600px) {
            top: 2%;
        }
        box-shadow: none;
    }
}
