@import '../theme/variables.scss';

.SettingsToolBar {
    background: $settings;
    color: $white;
}

.XButton {
    font-size: 30px;
}

.ToggleLabel {
    font-size:x-large;
    text-align: left;
    color: $dark-text;
}

.ToggleButton{
    left:0px;
    width: 50px;
    height: 20px;
    --handle-border-radius:  15px;
    --handle-background-checked: #9fb0db;
    --background-checked: #455b92;
}


.PageTitle{
    font-size: xx-large;
    color:$white;
    text-align: center;
    padding-top: 18%;
}


