@import '../theme/variables.scss';

.time {
    font-size: 70px;
    color: $light-text;
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    padding-bottom: 30px;
    transform: translateY(-50%);
}
.date {
    font-size: 28px;
    color: $medium-text;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(+100%);
}
