.FooterToolbar {
    width: 1024px;

    height: 94px;

    background-color: #000;

    //text-align: center;

    //vertical-align: middle;
}

.FooterBarRow {
    width: 800px;

    vertical-align: middle;

    /* padding-right: 110px; */
    //padding-right: 110px;

    row-gap: 93px;
}

.FooterBarGrid {
    /* height: 94px;
    width: 800px; */

    text-align: center;
    //transform: translateX(120px);
    //padding-right: 110px;

    //padding: auto;

    padding-left: 110px;
    padding-right: 110px;
}

.FooterBarIcon {
    //align-self: center;
    font-size: 40px;
}

.FooterBarColumn {
    //align-items: center;
    padding-left: 27px;

    //   padding-left: 26px;
}

.FooterButtonRow {
}

.colTest {
}
