.FooterToolbar {
    width: 1024px;

    height: 93px;
}

.FooterBarRow {
    width: 1024px;
    justify-content: center;
    justify-self: center;
    display: row;
    flex-direction: row;

    vertical-align: middle;
    align-items: center;
    //padding: 0px 55px;
}

.FooterBarIcon {
    font-size: 35px;
}

.FooterBarColumn {
}

.FooterButtonRow {
}
