@import '../theme/variables.scss';

.location {
    font-size: 22px;
    color: $medium-text;
}

.temperature {
    font-size: 30px;
    color: $medium-text;
}

.content {
    text-align:  center;
    --background: transparent;
    --padding-top: 12%;
    --padding-start: 78%;
}