@import '../theme/variables.scss';

.location {
    font-family: 'Poppins';
    font-size: 22px;
    color: $medium-text;
}

.temperature {
    font-family: 'Poppins';
    font-size: 30px;
    color: $medium-text;
}

.content {
    text-align: center;
    --background: transparent;
    --padding-top: 11%;
    --padding-start: 78%;
}