.FabButton{
    --box-shadow: #2e3436;
    --color: var(--ion-color-dark);
    --background: none;
    --background-hover: var(--ion-color-dark);
    --background-hover-opacity: 10%;
    --background-activated-color: none;
    --ripple-color: #4d5d84;
    
    
}