.FabButton{
    --box-shadow: #2e3436;
    //--color: #d3d3d3;
    --background: none;
    --background-hover: #d3d3d3;
    --background-hover-opacity: 5%;
    --background-activated-color: none;
    --ripple-color: #4d5d84;
    
    
}