@import '../theme/variables.scss';

.TabBarRow {
    justify-content: space-around;
}
.IonColMiddle {
    text-align: center;
}
.IonColRight {
    text-align: right;
}
.TabBar {
    z-index: 999999;
    --background: none;
}

.TabBarIcon {
    font-size: 35px;
}

.TabBarCorner {
    background-color: $modal-background;
    border-radius: 50px;
}

.Right {
    padding-left: 15px;
}
.Left {
    padding-right: 15px;
}

.Fan {
    width: 35px;
    height: 35px;
}
