.Time{
  width: 63px;

  height: 17.4px;

 // flex-grow: 0;

  font-family: Poppins;

  font-size: 14.7px;

  font-weight: 600;

  font-stretch: normal;

  font-style: normal;

  line-height: normal;

  letter-spacing: normal;

  text-align: center;
}
.TimeCol{
	text-align: center;
}