.TopToolbar {
    width: 1024px;

    height: 62px;

    padding: 0px 35px;
}

.TopBarRow {
    width: 954px;

    height: 18.7px;

    vertical-align: middle;

    justify-content: space-evenly;

    align-items: center;

    padding: 0;
}

.Time {
    width: 63px;

    height: 17.4px;

    font-family: Poppins;

    font-size: 14.7px;

    font-weight: 600;

    font-stretch: normal;

    font-style: normal;

    line-height: normal;

    letter-spacing: normal;

    text-align: center;
    vertical-align: middle;
}
.TimeCol {
    background-color: green;
}

.BatteryCol {
    background-color: blue;
}

.BluetoothRow {
    padding-left: 94%;
}

.BatteryIcon {
    vertical-align: middle;
    transform: scale(1.8);
    transform: rotate(-90deg);
}
.BatteryText {
    width: 34px;

    height: 19px;

    font-family: Poppins;

    font-size: 14.4px;

    font-weight: 600;

    font-stretch: normal;

    font-style: normal;

    line-height: normal;

    letter-spacing: normal;

    text-align: center;
    vertical-align: middle;
}

.BluetoothIcon {
    transform: scale(1.15);
}
